body {
    background-color: rgb(178, 214, 214);
}

hr {
    height: 0px;
    width: 7%;
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
}

h1 {
    color: #4ac5c5;
}

h3 {
    color: #309494;
}